<div class="container-fluid">
<h1 class="text-center">New Album</h1>
<div class="row-fluid">
  <div class="span4 well">
 <%= form_with model: @album do |form| %>
    <div class="control-group">
      <%= form.label :name, :class => "control-label" %><br>
      <div class="controls">
        <%= form.text_field :name,  :class => "input-xlarge"%>
        <% @album.errors.full_messages_for(:name).each do|message| %>
        <div>
          <%= message %>
        </div>
        <% end %>
    </div>
    <div class="control-group">
        <%= form.label :description, :class => "control-label"  %><br>
        <%= form.text_field :description, :class => "input-xlarge" %>
         <% @album.errors.full_messages_for(:description).each do|message| %>
        <div>
          <%= message %>
        </div>
       <% end %>
    </div>
    <br>
    <div class="control-group">
  <%= form.label :photo, :class => "control-label"  %><br>
     <%= form.file_field :images, multiple: true %>
     <% @album.errors.full_messages_for(:image).each do|message| %>
        <div>
          <%= message %>
        </div>
       <% end %>
     <br>
  <div class="form-actions">
    <%= form.submit class: 'btn btn-success' %>
 <% end %>
 <div>
</div>
</div>
</div>